@font-face {
  font-family: "Overpass-Regular";
  src: url("/fonts/Overpass-Regular.ttf");
}

@font-face {
  font-family: "Overpass-Bold";
  src: url("/fonts/Overpass-Bold.ttf");
}

body {
  color: #3f3f3f;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

#react-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header {
  border-bottom: none !important;
}

h3 {
  font-family: "Roboto";
}

h2 {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.8px;
  text-align: center;
  color: #000000;
}

@font-face {
  font-family: "Gotham-Black";
  src: url("/fonts/Gotham-Black.otf");
}

@font-face {
  font-family: "Gotham-BlackItalic";
  src: url("/fonts/Gotham-BlackItalic.otf");
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("/fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: "Gotham-BoldItalic";
  src: url("/fonts/Gotham-BoldItalic.otf");
}

@font-face {
  font-family: "Gotham-Book";
  src: url("/fonts/Gotham-Book.otf");
}

@font-face {
  font-family: "Gotham-BookItalic";
  src: url("/fonts/Gotham-BookItalic.otf");
}

@font-face {
  font-family: "Gotham-Light";
  src: url("/fonts/Gotham-Light.otf");
}

@font-face {
  font-family: "Gotham-LightItalic";
  src: url("/fonts/Gotham-LightItalic.otf");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("/fonts/Gotham-Medium.otf");
}

@font-face {
  font-family: "Gotham-MediumItalic";
  src: url("/fonts/Gotham-MediumItalic.otf");
}

@font-face {
  font-family: "Gotham-Thin";
  src: url("/fonts/Gotham-Thin.otf");
}

@font-face {
  font-family: "Gotham-ThinItalic";
  src: url("/fonts/Gotham-ThinItalic.otf");
}

@font-face {
  font-family: "Gotham-Ultra";
  src: url("/fonts/Gotham-Ultra.otf");
}

@font-face {
  font-family: "Gotham-UltraItalic";
  src: url("/fonts/Gotham-UltraItalic.otf");
}

@font-face {
  font-family: "Gotham-XLight";
  src: url("/fonts/Gotham-XLight.otf");
}

@font-face {
  font-family: "Gotham-XLightItalic";
  src: url("/fonts/Gotham-XLightItalic.otf");
}

.content-overlay {
  background: transparent;
}

.content-overlay.active {
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
}

.header-container {
  font-family: "Gotham-Book";
  border-bottom: 1px solid #e1e1e1;
}

@media (max-width: 767px) {
  .header-container.container {
    padding: 0;
  }
}

.header-container .hide {
  display: none;
}

.header-container .show {
  position: absolute;
  top: 9%;
  z-index: 999;
  left: 57%;
  width: 460px;
  border-radius: 2px;
  background-color: #f7f6f2;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .header-container .show {
    position: absolute;
    width: auto;
    left: 0;
    right: 0;
    top: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .header-container .show {
    left: auto;
    right: 2%;
    top: 6%;
  }
}

.header-container .show.loggedIn {
  top: 71px;
  left: 68%;
  max-width: 25%;
}

@media (max-width: 767px) {
  .header-container .show.loggedIn {
    max-width: 100%;
    top: 63px;
    right: 0;
    left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header-container .show.loggedIn {
    top: 63px;
  }
}

.header-container .show-search {
  position: absolute;
  display: block;
}

@media (min-width: 768px) {
  .header-container .show-search {
    right: 148px;
    top: -15px;
  }
}

.header-container .navbar {
  background: #fff !important;
  border-color: #fff !important;
  padding-bottom: 50px !important;
}

@media (min-width: 768px) {
  .header-container .navbar {
    padding-bottom: 0 !important;
  }
}

.header-container .navbar .container {
  background: #fff;
}

.header-container .navbar .container .navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: relative;
}

@media (max-width: 767px) {
  .header-container .navbar .container .navbar-header {
    width: 100%;
  }
}

.header-container.hannford .navbar {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .header-container .navbar-form {
    margin-top: 20px;
  }
}

.header-container .logo-container {
  height: 61px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .header-container .logo-container {
    height: 71px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header-container .logo-container {
    padding-left: 20px;
  }
}

.header-container .logo-container .logo .logo-image {
  width: 80px;
  height: 51px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 5px;
}

@media (min-width: 1200px) {
  .header-container .logo-container .logo .logo-image {
    width: 100px;
    height: 61px;
  }
}

@media (max-width: 767px) {
  .header-container .search-box-container {
    position: absolute;
    width: 100% !important;
    top: 60px;
  }
}

.header-container .navbar-nav {
  padding-left: 20px;
}

.header-container .navbar-nav li {
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #000000;
}

.header-container .navbar-nav li a {
  color: #000000;
  padding: 0;
  margin: 0 15px;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.44px;
  line-height: 18px;
}

.header-container .navbar-nav li a img {
  padding-left: 5px;
}

.header-container .navbar-nav li a:hover,
.header-container .navbar-nav li a:focus {
  background-color: inherit;
}

.header-container .navbar-nav li .eProfile {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .header-container .list-images {
    margin-top: 20px;
  }
}

.header-container .list-images li {
  padding: 0 10px;
  text-align: center;
}

.header-container .list-images li span img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 24px;
  width: 24px;
}

.header-container .list-images li p {
  font-family: "Gotham-Medium";
  color: #676767;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.17px;
  line-height: 12px;
}

.header-container .list-images .vertical-liner {
  padding-left: 15px;
  border-right: 1px solid #9b9b9b;
}

.header-container .search-box {
  height: 30px;
  background-color: #ffffff;
  border: 0px;
  border-bottom: 1px solid #000;
  border-radius: 0px;
  font-family: "Gotham-Book";
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.44px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .header-container .search-box {
    width: 250px;
    z-index: 10;
    position: relative;
  }
}

.header-container .form-group span {
  position: relative;
  right: 40px;
}

.header-container input::-webkit-input-placeholder,
.header-container input:-moz-placeholder,
.header-container input::-moz-placeholder,
.header-container input:-ms-input-placeholder {
  font-size: 14px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #000 !important;
  opacity: 0.5;
}

@media only screen and (max-width: 767px) {
  .header-container .navbar-default .navbar-toggle:hover,
  .header-container .navbar-default .navbar-toggle:focus {
    background-color: inherit;
  }

  .header-container .navbar-default .navbar-collapse,
  .header-container .navbar-default .navbar-form {
    border: 0px;
    position: absolute;
    padding: 0;
  }

  .header-container .navbar-default .navbar-toggle {
    border-color: #fff;
  }

  .header-container .navbar-collapse {
    background-color: #000;
    z-index: 99;
    height: 100vh !important;
    top: 0;
    left: 0;
  }

  .header-container .navbar-nav {
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .header-container .navbar-nav li {
    border-bottom: 1px solid #d6d6d6;
    font-weight: normal;
  }

  .header-container .navbar-nav li a {
    color: #fff !important;
    padding: 15px;
  }

  .header-container form span {
    position: absolute;
    right: 10px;
    bottom: 6px;
  }

  .header-container .navbar-header {
    margin-left: 9px !important;
    margin-top: 4px;
  }

  .header-container .logo-container .logo-image {
    width: 57px !important;
    height: 38px !important;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 7px !important;
  }

  .header-container .logo-container .logo > a {
    width: 60px;
  }

  .header-container .logo-container .mobile-nav {
    position: relative;
    width: calc(100% - 60px);
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-container .logo-container .mobile-nav span:first-child {
    margin-top: 5px;
  }

  .header-container .logo-container .mobile-nav span {
    padding-right: 10px;
  }

  .header-container .logo-container .mobile-nav span img {
    -o-object-fit: contain;
       object-fit: contain;
    opacity: 0.7;
    width: 20px;
  }

  .header-container .logo-container .menuLeft {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
  }

  .header-container .navbar-form {
    border: 0px;
  }

  .header-container .navbar-default .navbar-toggle {
    margin-left: 0;
    padding-left: 0;
  }
}

@media only screen and (max-width: 767px) and (max-width: 767px) {
  .user-profile {
    color: #000;
    background-color: #FFF;
    padding: 20px 15px 12px;
  }

  .user-profile img {
    width: 8px;
  }

  .cancel {
    position: fixed;
    right: 30px;
    top: 10px;
  }

  .cancel img {
    width: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navbar-collapse .navbar-form .form-group {
    position: relative;
  }

  .navbar-collapse .navbar-form .form-group input {
    width: 100% !important;
    padding-right: 30px;
  }

  .navbar-collapse .navbar-form .form-group span {
    position: absolute;
    right: 8px;
    top: 8px;
  }

  .header-container .navbar-nav {
    padding-left: 0px;
  }

  .header-container .list-images {
    margin-top: 12px;
  }

  .header-container .list-images li {
    padding: 0 5px;
  }
}

@media (max-width: 767px) {
  .flex-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
  }
}

@media (min-width: 768px) {
  .flex-desktop,
  .header-container .container .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (min-width: 768px) {
  .flex-desktop-space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .flex-desktop-space-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .flex-desktop-flex-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .flex-desktop-flex-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 767px) {
  .flex-mobile-flex-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .flex-desktop-align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .desktop-no-margin {
    margin: 0 !important;
  }
}

@media (min-width: 768px) {
  .navbar .container .navbar-collapse {
    width: 100%;
  }

  .navbar .container .navbar-collapse .right-section {
    width: calc(100% - 350px);
  }

  .navbar .container .navbar-collapse form {
    width: calc(100% - 100px);
    padding-right: 120px;
  }

  .navbar .container .navbar-collapse form .form-group {
    width: 100%;
    position: relative;
  }

  .navbar .container .navbar-collapse form .form-group input {
    position: relative;
    width: 100% !important;
  }

  .navbar .container .navbar-collapse form .form-group span {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

.dropdown-large {
  position: static !important;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.dropdown-menu-large {
  padding: 20px 60px;
  width: 100%;
  background: #fafafa;
}

@media (max-width: 768px) {
  .dropdown-menu-large {
    padding: 20px 10px;
  }
}

.dropdown-menu-large .megamenu-dropdown {
  padding: 0px 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown-menu-large .megamenu-dropdown li a {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.dropdown-menu-large .megamenu-dropdown .dropdown-header {
  padding: 3px 14px;
  font-family: "Gotham-Medium";
  margin-top: 20px;
  font-size: 13px;
}

.dropdown-menu-large .megamenu-dropdown .img-responsive {
  padding-top: 25px;
  max-width: 150px;
}

.dropdown-menu-large li {
  font-size: 11px;
  font-family: "Gotham-Book";
  line-height: 1.54;
  float: left;
}

.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}

.dropdown-menu-large > li > ul > li {
  list-style: none;
}

.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 300;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}

.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}

.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: not-allowed;
}

.badge-color {
  background: #cd247a;
  padding: 3px 5px;
  font-size: 8px;
  position: relative;
  top: -10px;
  left: -10px;
}

.coupon {
  width: 24px;
  border-radius: 50%;
  border: 2px solid #000;
  height: 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map*/