@import '../../../../assets/styles/styles.scss';

$mobile-breakpoint: 768px;

.VideoBannerComponent {
    width: 100%;
    margin: 50px auto;
    position: relative;

    &__video {
        width: 100%;

        @media only screen and (max-width: $mobile-breakpoint) {
            object-fit: initial;
            min-height: 315px;
        }
    }

    &__logo {
        max-height: 105px;
        display: inline-block;
        margin: 0 auto;

        @media only screen and (max-width: $mobile-breakpoint) {
            max-height: 50px;
        }
    }

    &__banner {
        width: 400px;
        height: auto;
        padding: 30px;
        position: absolute;
        top: -21px;
        right: 21.5px;
        background-color: $lightViolet;
        text-align: center;

        @media only screen and (max-width: $mobile-breakpoint) {
            width: 216px;
            height: 194px;
            right: 0;
            top: 180px;
            padding: 20px 10px;
            max-height: 250px;
        }

        &-description {
            font-size: 24px;
            margin: 30px 0;

            @media only screen and (max-width: $mobile-breakpoint) {
                font-size: 14px;
                margin: 10px 0;
            }
        }

        &-link {
            font-size: 20px;
            color: #000;

            a {
                color: #000;
                text-decoration: underline;
            }
            @media only screen and (max-width: $mobile-breakpoint) {
                font-size: 12px;
            }
        }

        @include font(
            12px,
            'Gotham-book',
            #000000,
            'normal',
            1.25,
            'normal'
          );
    }

    @media only screen and (max-width: $mobile-breakpoint) {
        margin: 50px auto 100px;
    }
}