// colors

$lightViolet: #e5dced;

// font faces
@font-face {
    font-family: "Gotham-Black";
    src: url("/assets/fonts/Gotham-Black.otf");
}
@font-face {
    font-family: "Gotham-BlackItalic";
    src: url("/assets/fonts/Gotham-BlackItalic.otf");
}
@font-face {
    font-family: "Gotham-Bold";
    src: url("/assets/fonts/Gotham-Bold.otf");
}
@font-face {
    font-family: "Gotham-BoldItalic";
    src: url("/assets/fonts/Gotham-BoldItalic.otf");
}
@font-face {
    font-family: "Gotham-Book";
    src: url("/assets/fonts/Gotham-Book.otf");
}
@font-face {
    font-family: "Gotham-BookItalic";
    src: url("/assets/fonts/Gotham-BookItalic.otf");
}
@font-face {
    font-family: "Gotham-Light";
    src: url("/assets/fonts/Gotham-Light.otf");
}
@font-face {
    font-family: "Gotham-LightItalic";
    src: url("/assets/fonts/Gotham-LightItalic.otf");
}
@font-face {
    font-family: "Gotham-Medium";
    src: url("/assets/fonts/Gotham-Medium.otf");
}
@font-face {
    font-family: "Gotham-MediumItalic";
    src: url("/assets/fonts/Gotham-MediumItalic.otf");
}
@font-face {
    font-family: "Gotham-Thin";
    src: url("/assets/fonts/Gotham-Thin.otf");
}
@font-face {
    font-family: "Gotham-ThinItalic";
    src: url("/assets/fonts/Gotham-ThinItalic.otf");
}
@font-face {
    font-family: "Gotham-Ultra";
    src: url("/assets/fonts/Gotham-Ultra.otf");
}
@font-face {
    font-family: "Gotham-UltraItalic";
    src: url("/assets/fonts/Gotham-UltraItalic.otf");
}
@font-face {
    font-family: "Gotham-XLight";
    src: url("/assets/fonts/Gotham-XLight.otf");
}
@font-face {
    font-family: "Gotham-XLightItalic";
    src: url("/assets/fonts/Gotham-XLightItalic.otf");
}

@mixin font(
  $fontSize,
  $fontFamily,
  $color,
  $font-weight: 'normal',
  $line-height: 'normal',
  $letter-spacing: 'normal'
) {
  color: $color;
  font-family: $fontFamily, sans-serif;
  font-size: $fontSize;

  @if $font-weight== 'normal' {
    font-weight: normal;
  } @else {
    font-weight: $font-weight;
  }

  @if $line-height== 'normal' {
    line-height: normal;
  } @else {
    line-height: $line-height;
  }

  @if $letter-spacing== 'normal' {
    letter-spacing: normal;
  } @else {
    letter-spacing: $letter-spacing;
  }
}